<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/createMap.js"></script>
</head>

<body>
  <%- include('partials/_headerLogged') %>

    <div class="create-map-body">
      <div class="create-map-container">
        <h1>Create new map</h1>

        <form action="/maps/new" method="POST" class="create-map-form">
          <div class="create-map-group">
            <label for="map-title">Map title</label>
            <input name="text" id="map-title"></input>
            <br />
            <label for="map_description">Description</label>
            <input name="text" id="map_description"></input>
            <br />
            <label for="thumbnail-image">Thumbnail Image URL</label>
            <input name="text" id="thumbnail-image"></input>
          </div>
          <!-- <button type="button" id="image-upload-btn">Upload</button> -->
          <br />
          <button type="submit" id="create-map">Create</button>
        </form>
      </div>

      <div id="map" style="height: 70vh"></div>
    </div>
</body>

</html>