<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script defer src="/scripts/login.js"></script> -->
</head>

<body class="body-home-page">
  <%- include('partials/_headerLogin') %>

    <main>
      <div class="login-container">
        <form class="login-form" action="/login" method="POST">
          <h3>Login</h3>
          <div class="input-group">
            <section class="email-form">
              <label for="email">Email Address</label>
              <input class="email" type="email" name="email" placeholder="Enter Email" id="email" />
            </section>
          </div>
          <div class="input-group">
            <section class="password-form">
              <label for="password">Password </label>
              <input class="password" type="password" name="password" placeholder="Password" id="password" />
            </section>
          </div>
          <section class="submit">
            <button type="submit" class="login-btn">Login</button>
          </section>
        </form>
        </br>
      </div>


    </main>



</body>

</html>