<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/login.js"></script>
</head>

<%- include('partials/_header') %>

  <body>
    <main">
      <h3>Login</h3>
      <form class="login-form" action="/login" method="POST">
        <section class="email-address">
          <label for="email">Email address </label>
          <input type="email" name="email" id="email" placeholder="Enter email" />
        </section>
        <section class="password">
          <label for="password">Password </label>
          <input type="password" name="password" id="password" placeholder="Password" />
        </section>
        <section class="login">
          <button type="submit" class="login-btn">Login</button>
        </section>
      </form>
      <section class="registration-link">
        Don't have an account? <a href="/register">Register here</a>
      </section>
      </main>
  </body>

</html>