<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/addLocation.js"></script>
</head>

<body>
  <h1>Map view</h1>

  <button class="add-location-button">Add Location</button>

  <div id="map">
  </div>

  <div class="hidden-map-id" data-map-id="<%= mapId %>">
  </div>
  <!--New location form to appear over the map-->
  <div class="new-location">
    <h2>Add new location</h2>
    <form class="new-location-form" method="POST" action="/location/new">
      <label for="title">Title:</label>
      <input type="text" class="new-location-title" name="title">
      <br>
      <label for="description">Description:</label>
      <input type="text" class="new-location-description" name="description">
      <br>
      <label for="image">Image:</label>
      <input type="text" class="new-location-image" name="image">
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>

</body>

</html>